{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="container mt-0">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="{% static 'images/Logo_hw.svg' %}" alt="Logo healthy Weight" class="mb-4" style="width: 250px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h2 class="card-title"><i class="fas fa-info-circle"></i> Tentang Healthy Weight</h2>
                    <p class="card-text"> Healthy Weight adalah platform yang didedikasikan untuk membantu Anda memantau dan mengelola kesehatan berat badan Anda. Kami menyediakan alat kalkulator BMI yang mudah digunakan untuk membantu Anda menentukan apakah berat badan Anda berada dalam kisaran yang sehat.</p>
                    <p class="card-text">Misi kami adalah untuk meningkatkan kesadaran akan pentingnya menjaga berat badan yang sehat dan memberikan informasi serta sumber daya yang diperlukan untuk mencapai tujuan kesehatan Anda.</p>
                    
                    <h3 class="card-title mt-4"><i class="fas fa-bullseye"></i> Visi</h3>
                    <p class="card-text">Menjadi platform terdepan dalam membantu masyarakat mencapai berat badan ideal dan hidup sehat.</p>
                    
                    <h3 class="card-title mt-4"><i class="fas fa-tasks"></i> Misi</h3>
                    <ul class="card-text">
                        <li>Menyediakan alat kalkulator BMI yang akurat dan mudah digunakan.</li>
                        <li>Memberikan informasi dan saran yang bermanfaat tentang kesehatan dan kebugaran.</li>
                        <li>Meningkatkan kesadaran masyarakat akan pentingnya menjaga berat badan yang sehat.</li>
                        <li>Mendukung pengguna dalam mencapai tujuan kesehatan mereka melalui sumber daya yang komprehensif.</li>
                    </ul>
                    
                    <h3 class="card-title mt-4"><i class="fas fa-history"></i> Latar Belakang</h3>
                    <p class="card-text">Healthy Weight didirikan oleh kami pada tahun 2025 sebagai bagian dari proyek UAS mata kuliah Dasar Dasar Pemrograman di STT-NF. Kami percaya bahwa kesehatan adalah aset terbesar yang dimiliki setiap individu, dan kami berkomitmen untuk membantu Anda menjaga dan meningkatkan kesehatan Anda melalui informasi yang akurat dan alat yang bermanfaat.</p>
                    <p class="card-text">Kami berharap platform ini dapat menjadi sumber daya yang berharga bagi Anda dalam perjalanan menuju kesehatan yang lebih baik. Jika Anda memiliki pertanyaan atau memerlukan bantuan, jangan ragu untuk menghubungi kami di <a href="mailto:info@weighthealthy.com">healthyweight@gmail.com</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}