{% extends 'index.html' %}
{% block content %}
<div class="container mt-0">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-success text-white text-center">
                    <h2>Manfaat Olahraga Rutin</h2>
                </div>
                <div class="card-body text-white">
                    <p class="card-text">
                        Olahraga rutin memiliki banyak manfaat untuk kesehatan tubuh dan pikiran. Berikut adalah beberapa manfaat olahraga rutin:
                    </p>
                    <h3>Manfaat Olahraga Rutin</h3>
                    <p>
                        1. Meningkatkan kesehatan jantung.<br>
                        2. Mengurangi risiko penyakit kronis.<br>
                        3. Meningkatkan kekuatan dan fleksibilitas otot.<br>
                        4. Meningkatkan kesehatan mental.<br>
                        5. Membantu menjaga berat badan ideal.
                    </p>
                    <p class="card-text">
                        Untuk informasi lebih lanjut, Anda dapat membaca artikel lengkapnya di <a href="https://www.halodoc.com/artikel/10-manfaat-olahraga-teratur-untuk-kesehatan-tubuh-1?srsltid=AfmBOoq1qRkyhserS_if-s3OmY01Sg1FW9h1_yAFqaJfqIKtA-MNrgP4" target="_blank">sini</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
