{% extends 'index.html' %}
{% block content %}
<div class="container mt-0">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card text-white">
                <div class="card-header bg-success text-white text-center">
                    <h2>Cara Menghitung BMI</h2>
                </div>
                <div class="card-body text-white">
                    <p class="card-text">
                        BMI (Body Mass Index) adalah ukuran yang digunakan untuk menentukan apakah berat badan Anda sehat berdasarkan tinggi badan Anda. Berikut adalah cara menghitung BMI:
                    </p>
                    <h3>Langkah-langkah Menghitung BMI</h3>
                    <p>
                        1. Ukur berat badan Anda dalam kilogram (kg).<br>
                        2. Ukur tinggi badan Anda dalam meter (m).<br>
                        3. Gunakan rumus berikut untuk menghitung BMI: BMI = Berat Badan (kg) / (Tinggi Badan (m) * Tinggi Badan (m)).
                    </p>
                    <p class="card-text">
                        Untuk informasi lebih lanjut, Anda dapat membaca artikel lengkapnya di <a href="https://www.halodoc.com/artikel/tak-perlu-bingung-ini-2-cara-menghitung-body-mass-index?srsltid=AfmBOope0n1jL9YOmmqVxr_Z9jsaAE0ZCSs_7lU1PQqnTdC_OusRDns4" target="_blank">sini</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
