{% extends 'index.html' %}
{% block content %}
<div class="container mt-0">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-success text-white text-center">
                    <h2>Cara Mengatasi Obesitas</h2>
                </div>
                <div class="card-body text-white">
                    <p class="card-text">
                        Obesitas adalah kondisi medis yang ditandai dengan kelebihan lemak tubuh yang dapat berdampak negatif pada kesehatan. Mengatasi obesitas memerlukan pendekatan yang komprehensif dan berkelanjutan. Berikut adalah beberapa cara untuk mengatasi obesitas:
                    </p>
                    <h3>1. Pola Makan Sehat</h3>
                    <p>
                        Mengadopsi pola makan sehat adalah langkah pertama dalam mengatasi obesitas. Kurangi konsumsi makanan tinggi kalori, gula, dan lemak jenuh. Fokus pada makanan yang kaya serat, seperti buah-buahan, sayuran, biji-bijian, dan protein tanpa lemak.
                    </p>
                    <h3>2. Aktivitas Fisik Rutin</h3>
                    <p>
                        Aktivitas fisik rutin sangat penting untuk menurunkan berat badan dan menjaga kesehatan. Cobalah untuk berolahraga setidaknya 150 menit per minggu, seperti berjalan kaki, berlari, berenang, atau bersepeda.
                    </p>
                    <h3>3. Perubahan Gaya Hidup</h3>
                    <p>
                        Perubahan gaya hidup yang berkelanjutan sangat penting dalam mengatasi obesitas. Hindari kebiasaan makan berlebihan, tidur yang cukup, dan kelola stres dengan baik.
                    </p>
                    <h3>4. Konsultasi dengan Profesional Kesehatan</h3>
                    <p>
                        Konsultasikan dengan dokter atau ahli gizi untuk mendapatkan rencana penurunan berat badan yang sesuai dengan kebutuhan Anda. Mereka dapat memberikan panduan dan dukungan yang diperlukan untuk mencapai tujuan kesehatan Anda.
                    </p>
                    <h3>5. Dukungan Sosial</h3>
                    <p>
                        Dukungan dari keluarga dan teman-teman dapat membantu Anda tetap termotivasi dalam perjalanan menurunkan berat badan. Bergabunglah dengan kelompok dukungan atau komunitas yang memiliki tujuan yang sama.
                    </p>
                    <p class="card-text">
                        Untuk informasi lebih lanjut, Anda dapat membaca artikel lengkapnya di <a href="https://puskesmasandalas.padang.go.id/cara-mengatasi-obesitas/" target="_blank">sini</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
