{% extends 'index.html' %}
{% block content %}
<div class="container mt-0">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-success text-white text-center">
                    <h2>Tips Diet Sehat</h2>
                </div>
                <div class="card-body text-white">
                    <p class="card-text">
                        Diet sehat adalah kunci untuk mencapai dan mempertahankan berat badan ideal. Berikut adalah beberapa tips diet sehat yang dapat Anda terapkan:
                    </p>
                    <h3>Tips Diet Sehat</h3>
                    <p>
                        1. Konsumsi makanan yang kaya akan serat.<br>
                        2. Kurangi asupan gula dan garam.<br>
                        3. Pilih sumber protein yang sehat.<br>
                        4. Minum air putih yang cukup.<br>
                        5. Hindari makanan olahan dan cepat saji.<br>
                        6. Berolahraga secra rutin.
                    </p>
                    <p class="card-text">
                        Untuk informasi lebih lanjut, Anda dapat membaca artikel lengkapnya di <a href="https://www.halodoc.com/artikel/ketahui-tips-diet-sehat-bagi-pengidap-obesitas" target="_blank">sini</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
