{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="container mt-0">
    <h2 class="text-center mb-4 text-white">Para Pengembang</h2>
    <div class="card-group rounded border">
        <div class="card m-2">
            <img src="{% static 'images/Foto Owner/4.jpg' %}" class="card-img-top" alt="Foto Muhamad Solihin">
            <div class="card-body text-white">
                <h5 class="card-title">Muhamad Solihin</h5>
                <p class="card-text">"Kesehatan adalah kekayaan sejati, bukan emas dan perak."</p>
                <p class="card-text"><i class="fab fa-instagram"></i><a style="text-decoration: none; color: white;" href="https://www.instagram.com/slhn.99/" target="_blank"> slhn.99 </a></p>
            </div>
        </div>
        <div class="card m-2">
            <img src="{% static 'images/Foto Owner/2.jpg' %}" class="card-img-top" alt="Foto Fadhil Muhammad Zain">
            <div class="card-body text-white">
                <h5 class="card-title">Fadhil Muhammad Zain</h5>
                <p class="card-text">"Jaga kesehatanmu, karena itu adalah investasi terbaik."</p>
                <p class="card-text"><i class="fab fa-instagram"></i><a style="text-decoration: none; color: white;" href="https://www.instagram.com/dhilzain_/" target="_blank"> dhilzain_ </a></p>
            </div>
        </div>
        <div class="card m-2">
            <img src="{% static 'images/Foto Owner/3.jpg' %}" class="card-img-top" alt="Foto Muhamad Uulul Azmi">
            <div class="card-body text-white">
                <h5 class="card-title">Muhamad Uulul Azmi</h5>
                <p class="card-text">"Kesehatan adalah hadiah terbesar, kepuasan terbesar adalah kekayaan."</p>
                <p class="card-text"><i class="fab fa-instagram"></i><a style="text-decoration: none; color: white;" href="https://www.instagram.com/mhmduululazmi/" target="_blank"> mhmduululazmi </a></p>
            </div>
        </div>
        <div class="card m-2">
            <img src="{% static 'images/Foto Owner/1.jpg' %}" class="card-img-top" alt="Foto Lestari">
            <div class="card-body text-white">
                <h5 class="card-title">Lestari</h5>
                <p class="card-text">"Kesehatan adalah mahkota di kepala orang sehat yang hanya bisa dilihat oleh orang sakit."</p>
                <p class="card-text"><i class="fab fa-instagram"></i><a style="text-decoration: none; color: white;" href=https://www.instagram.com/stea.aiii/" target="_blank"> stea.aiii </a></p>
            </div>
        </div>
    </div>
    <h2 class="text-center mt-5 mb-4 text-white">Hubungi Kami</h2>
    <div class="card mt-0">
        <div class="card-body text-white">
            <div class="row">
                <div class="col-md-6 text-end">
                    <img src="{% static 'images/Logo_hw.svg' %}" alt="Logo Healthy Weight" class="mb-2" style="width: 150px;">
                </div>
                <div class="col-md-6 text-start">
                    <br>
                    <p>Email: <a style="text-decoration: none;" href="mailto:info@weighthealthy.com" class="text-white">info@weighthealthy.com</a></p>
                    <p>Phone: +62 123 4567 890</p>
                    <p>Follow us on:
                        <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center mt-5 mb-4 text-white">Alamat Kami</h2>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body text-center text-white">
                    <p>STT-NF Jalan Lenteng Agung Raya No.20, Lenteng Agung, Srengseng Sawah, Kec. Jagakarsa, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta</p>
                    <div class="map-responsive">
                        <iframe class="rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15861.270082892343!2d106.81356918715821!3d-6.3529244999999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ec6b07b68ea5%3A0x17da46bdf9308386!2sSTT%20Terpadu%20Nurul%20Fikri%20-%20Kampus%20B!5e0!3m2!1sid!2sid!4v1736524634113!5m2!1sid!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}