{% load static %}
<footer class="bg-success text-white text-center py-3">
    <div class="container">
        <div class="row mt-1 mb-0 p-0">
            <div class="col-md-4 text-start">
                <img src="{% static 'images/Logo_hw.svg' %}" alt="Logo healthy Weight" class="mb-2" style="width: 100px;">
            </div>
            <div class="col-md-4">
                <p><strong>Healthy Weight</strong></p>
                <p>Developed by: Solihin, Uulul, Fadhil, & Lestari</p>
                <p>Contact: <a style="text-decoration: none;" href="mailto:info@weighthealthy.com" class="text-white">healthyweight@gmail.com</a></p>
            </div>
            <div class="col-md-4 text-end">
                <p>Follow us on:</p>
                <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2025 Healthy Weight. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>