<ul class="list-group">
    <li class="list-group-item active bg-success border-white" aria-current="true">Artikel Kesehatan</li>
    <li class="list-group-item border-white">
        <a class="nav-link" href="{% url 'article1' %}">Pentingnya Menjaga Berat Badan Ideal</a>
        <p class="small">Menjaga berat badan ideal penting untuk kesehatan jangka panjang dan mencegah berbagai penyakit.</p>
    </li>
    <li class="list-group-item border-white">
        <a class="nav-link" href="{% url 'article2' %}">Cara Menghitung BMI</a>
        <p class="small">Pelajari cara menghitung BMI Anda dan apa arti dari hasilnya.</p>
    </li>
    <li class="list-group-item border-white">
        <a class="nav-link" href="{% url 'article3' %}">Tips Diet Sehat</a>
        <p class="small">Temukan tips diet sehat yang dapat membantu Anda mencapai dan mempertahankan berat badan ideal.</p>
    </li>
    <li class="list-group-item border-white">
        <a class="nav-link" href="{% url 'article4' %}">Manfaat Olahraga Rutin</a>
        <p class="small">Olahraga rutin memiliki banyak manfaat untuk kesehatan tubuh dan pikiran.</p>
    </li>
    <li class="list-group-item border-white">
        <a class="nav-link" href="{% url 'article5' %}">Mengatasi Obesitas</a>
        <p class="small">Pelajari cara mengatasi obesitas dan langkah-langkah yang dapat Anda ambil untuk menurunkan berat badan.</p>
    </li>
</ul>